<a href="/">Registration</a> &nbsp; &nbsp; &nbsp;
<a href="/login">login</a> &nbsp; &nbsp; &nbsp;
<a href="/logout">logout</a> &nbsp; &nbsp; &nbsp;
<a href="/secret">secret</a> &nbsp; &nbsp; &nbsp;
<a href="/home">home</a> &nbsp; &nbsp; &nbsp;
<h1>this is partials part</h1>